apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "clamav.fullname" . }}
  labels:
    {{- include "clamav.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "clamav.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "clamav.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: clamav
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: clamav
          containerPort: 3310
          protocol: TCP
        env:
        - name: CLAMAV_NO_FRESHCLAM
          value: "false"
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        volumeMounts:
        - name: virus-db
          mountPath: /var/lib/clamav
      volumes:
      - name: virus-db
        {{- if .Values.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ include "clamav.fullname" . }}
        {{- else }}
        emptyDir: {}
        {{- end }}

