# Data Residency Configuration
# Defines region-specific data storage endpoints for GDPR/POPIA compliance

version: 1.0

# Region definitions with country mappings
regions:
  - code: EU
    name: European Union
    description: EU data residency for GDPR compliance
    countries:
      - UK
      - DE
      - FR
      - IT
      - ES
      - NL
      - BE
      - IE
      - PT
      - PL
    database:
      host: postgres-eu.mukuru.com
      port: 5432
      database: onboarding_eu
      ssl: true
    storage:
      endpoint: minio-eu.mukuru.com:9000
      bucket_prefix: eu-
      ssl: true
      region: eu-west-1
    kafka:
      bootstrap_servers: kafka-eu.mukuru.com:9092
    
  - code: ZA
    name: Southern Africa
    description: South African data residency for POPIA compliance
    countries:
      - ZA
      - BW
      - ZM
      - MW
      - MZ
      - NA
      - LS
      - SZ
    database:
      host: postgres-za.mukuru.com
      port: 5432
      database: onboarding_za
      ssl: true
    storage:
      endpoint: minio-za.mukuru.com:9000
      bucket_prefix: za-
      ssl: true
      region: af-south-1
    kafka:
      bootstrap_servers: kafka-za.mukuru.com:9092
  
  - code: US
    name: United States
    description: US data residency
    countries:
      - US
      - CA
      - MX
    database:
      host: postgres-us.mukuru.com
      port: 5432
      database: onboarding_us
      ssl: true
    storage:
      endpoint: minio-us.mukuru.com:9000
      bucket_prefix: us-
      ssl: true
      region: us-east-1
    kafka:
      bootstrap_servers: kafka-us.mukuru.com:9092
  
  - code: APAC
    name: Asia Pacific
    description: APAC data residency
    countries:
      - AU
      - NZ
      - SG
      - IN
      - MY
      - PH
    database:
      host: postgres-apac.mukuru.com
      port: 5432
      database: onboarding_apac
      ssl: true
    storage:
      endpoint: minio-apac.mukuru.com:9000
      bucket_prefix: apac-
      ssl: true
      region: ap-southeast-1
    kafka:
      bootstrap_servers: kafka-apac.mukuru.com:9092

# Default region for unlisted countries
default_region: ZA

# Retention policies per data type (in days)
retention_policies:
  completed_applications: 2555  # 7 years for regulatory compliance
  declined_applications: 1825   # 5 years
  documents: 2555               # 7 years
  audit_logs: 3650              # 10 years (permanent)
  work_items: 1825              # 5 years
  messages: 1095                # 3 years

# PII fields to anonymize on deletion request
pii_fields:
  - email
  - phone_number
  - name
  - date_of_birth
  - identification_number
  - address
  - bank_account_number
  - tax_number

# Audit requirements
audit:
  log_all_data_access: true
  log_cross_region_access: true
  alert_on_residency_violation: true
  compliance_team_email: ddhrp@mukuru.com
